<%= form_for(@printer) do |f| %>
  <% if @printer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@printer.errors.count, "error") %> prohibited this printer from being saved:</h2>

      <ul>
      <% @printer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :利用状況 %><br>
    <%= f.text_field :condition %>
  </div>
  <div class="field">
    <%= f.label :プリンタの名前（同機種との区別） %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :プリンタの機種名 %><br>
    <%= f.text_field :printer_type %>
  </div>
  <div class="field">
    <%= f.label :出力できるX軸の大きさ（mm） %><br>
    <%= f.text_field :print_area_x %>
  </div>
  <div class="field">
    <%= f.label :出力できるY軸の大きさ（mm） %><br>
    <%= f.text_field :print_area_y %>
  </div>
  <div class="field">
    <%= f.label :出力できるZ軸の高さ（mm） %><br>
    <%= f.text_field :print_area_z %>
  </div>
  <!-- <div class="field">
    <%= f.label :slice_h %><br>
    <%= f.text_field :slice_h %>
  </div>
  <div class="field">
    <%= f.label :slice_m %><br>
    <%= f.text_field :slice_m %>
  </div>
  <div class="field">
    <%= f.label :slice_l %><br>
    <%= f.text_field :slice_l %>
  </div> -->
  <div class="field">
    <%= f.label :プリンタの写真（利用者が確認できる写真） %><br>
    <%= f.text_field :photo %>
  </div>
  <div class="field">
    <%= f.label :フィラメントの色 %><br>
    <%= f.text_field :filament_color %>
  </div>
  <div class="field">
    <%= f.label :フィラメントの種類（ABS・PLA） %><br>
    <%= f.text_field :filament_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
