<p id="notice"><%= notice %></p>

<h1>確認用に表示する？</h1>
<p>
  <strong>利用状況:</strong>
  <%= @printer.condition %>
</p>

<p>
  <strong>プリンタの名前:</strong>
  <%= @printer.name %>
</p>

<p>
  <strong>プリンタの機種:</strong>
  <%= @printer.printer_type %>
</p>

<p>
  <strong>出力できるX軸の大きさ（mm）:</strong>
  <%= @printer.print_area_x %>
</p>

<p>
  <strong>出力できるY軸の大きさ（mm）:</strong>
  <%= @printer.print_area_y %>
</p>

<p>
  <strong>出力できるZ軸の高さ（mm）:</strong>
  <%= @printer.print_area_z %>
</p>

<!-- <p>
  <strong>Slice h:</strong>
  <%= @printer.slice_h %>
</p>

<p>
  <strong>Slice m:</strong>
  <%= @printer.slice_m %>
</p>

<p>
  <strong>Slice l:</strong>
  <%= @printer.slice_l %>
</p> -->

<p>
  <strong>プリンタの写真:</strong>
  <%= @printer.photo %>
</p>

<p>
  <strong>フィラメントの種類:</strong>
  <%= @printer.filament_color %>
</p>

<p>
  <strong>フィラメントの色:</strong>
  <%= @printer.filament_color %>
</p>

<h1>データのアップロード</h1>
<h2>新規アップロード（Dataのform）</h2>

<h2>アップロード済み</h2>

<p>
  <strong>データの名前:</strong>
  <%= @data.name %>
</p>

<%= link_to 'Edit', edit_printer_path(@printer) %> |
<%= link_to 'Back', printers_path %>
