<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>

        <title>Fabrica Education</title>
        <%= favicon_link_tag 'favicon.png', rel: 'shortcut icon' %>
        <%= favicon_link_tag 'favicon.png', rel: 'apple-touch-icon' %>
    </head>
    <body>
        <div class="wrapper-all">
            <!-- header -->
            <div class="wrapper header">

                <div>
                    <% if user_signed_in? %> 
                      <!-- current_user は現在ログインしているUserオブジェクトを返すdeviseのHelperメソッド -->
                      <!-- *_path はUserモデルを作成したときに、
                        deviseにより自動で作成されてますので、rake routesで確認できます -->
                      Logged in as <strong><%= current_user.email %></strong>.
                      <%= link_to 'プロフィール変更', edit_user_registration_path %> |
                      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                    <% else %>
                      <%= link_to "登録", new_user_registration_path %> |
                      <%= link_to "ログイン", new_user_session_path %>
                    <% end %>
                </div>
              
                <% if user_signed_in? %> 
                  <div class="col-1 shrink_header">
                      <div class="page_title"></div>
                      <div id="global_link" class="global_link">
                          <div id="menubar" class="ml-auto">
                              <svg version="1.1" id="menubar-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"y="0px" viewBox="0 0 200 149.667" enable-background="new 0 0 200 149.667" xml:space="preserve">
                                  <line fill="none" stroke="#333" stroke-width="18" stroke-miterlimit="10" x1="15" y1="16" x2="185" y2="16"/>
                                  <line fill="none" stroke="#333" stroke-width="18" stroke-miterlimit="10" x1="15" y1="75" x2="185" y2="75"/>
                                  <line fill="none" stroke="#333" stroke-width="18" stroke-miterlimit="10" x1="15" y1="133" x2="185" y2="133"/>
                              </svg>
                          </div>
                          <% for step in 0..4 %>
                              <% unless step == 0 %>
                                <div class="link-item-separator">/</div>
                              <% end %>
                              <div class="link-item"><div id="scroll_<%= step %>"<% if step == @current_step %> class="water-blue"<% end %>>STEP.<%= step %></div></div>
                          <% end %>
                      </div>
                    </div>
                <% end %>

            </div>

            <!-- article -->
            <div class="wrapper article">

                <!-- contents -->
                <div class="wrapper contents">

                    <% if @title %>
                        <%= render partial: "shared/header", locals: {title: @title} %>
                        <div class="pt-25"></div>
                    <% end %>

                    <p class="notice"><%= notice %></p>
                    <p class="alert"><%= alert %></p>


                    <%= yield %>
                </div>
            </div>
            <!-- end article -->
        </div>
        <!-- end wrapper-all -->
    </body>
</html>
