<h1>データの新規アップロードと一覧画面</h1>
<h2>新規アップロード</h2>
<%= link_to '新規データをアップロード', new_printer_datum_path %>

<h2>これまでアップロードした3Dデータ</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>3Dデータ表示</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @data.each do |datum| %>
      <tr>
        <td><%= datum.name %></td>
        <td><%= datum.cad_data %></td>
        <td><%= link_to 'スライスする', datum %></td>
        <% datum.cam_data.each do |gcode| %>
        <td><%= gcode.name %></td>
        <td><%= link_to 'プリントする', datum %></td>
        <!-- <td><%= link_to 'Edit', edit_datum_path(datum) %></td> -->
        <td><%= link_to '削除する', datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


