<p id="notice"><%= notice %></p>

<p>
  <strong>Slice:</strong>
  <%= @datum.slice_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @datum.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @datum.name %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @datum.origin %>
</p>

<p>
  <strong>Slice:</strong>
  <%= @datum.slice %>
</p>

<p>
  <strong>Print time:</strong>
  <%= @datum.print_time %>
</p>

<p>
  <strong>Delete f:</strong>
  <%= @datum.delete_f %>
</p>

<%= link_to 'Edit', edit_datum_path(@datum) %> |
<%= link_to 'Back', data_path %>
